.content-wrapper {
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 250px 2fr;
  grid-template-areas: "header header" "nav main";
  gap: 10px;

  width: 1200px;
  margin: 0 auto;
}

.profile {
  grid-area: main;
  background-color: rgb(188, 227, 214);
}

.profile__desc {

}

.profile>img {
  width: 100%;
  height: 200px;
}

.profile__desc>img {
  width: 200px;
}

.posts {

}

.post>img {
  width: 80px;
}