.content-wrapper {
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 250px 2fr;
  grid-template-areas: "header header" "nav main";
  gap: 10px;

  width: 1200px;
  margin: 0 auto;
}

.app-wrapper-content {
  grid-area: main;
  background-color: rgb(188, 227, 214);
}