.profile {
  grid-area: main;
  background-color: rgb(188, 227, 214);
}

.profile__desc {

}

.profile>img {
  width: 100%;
  height: 200px;
}

.profile__desc>img {
  width: 200px;
  padding-left: 10px;
}