.nav {
  grid-area: nav;
  background-color: rgb(33, 220, 158);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.link {
  text-decoration: none;
  color: white;
}

.active {
  text-decoration: none;
  color: gold;
}
